.filterBar_Box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(221, 221, 221);
  height: 30px;
}

form {
  font-size: 1em;
  font-weight: 400;
}

label {
  margin-left: 2px;
}

select {
  margin-left: 5px;
  margin-right: 5px;
}

.bookType {
  width: 200px;
}
