.bookList-item {
  display: flex;
  align-items: center;
  height: auto;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.bookList-item-content {
  justify-content: center;
  text-align: center;
  min-width: 400px;
  padding: 10px;
}

.bookList-item-image {
  justify-content: flex-start;
}

li {
  list-style: none;
}
